body
{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.headline
{
  
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: 0;
  padding-top: 0;
  text-wrap: nowrap;
}
button
{
  width: 120px;
  height: 120px;
  border: 3px solid white;
  border-radius: 60px;
  background-color: rgb(23,23,23);
  cursor: pointer;
  margin-right: 10px;
}
img
{
  height: 50px;
  
}
.result
{
  font-size:25px ;
  font-weight: bold;
  margin-top:50px ;
}
.reset-button
{
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 0px;
  border: none;
  height:35px ;
  width:110px ;
  padding: 5px 12px;
  font-size: 15px;
}
.moves
{
  font-size: 15px;

}
.container
{
  width: auto;
  height: auto;
  margin: 0 100px;
  padding: 60px;
  background-color:  rgb(23,23,23);
  border-radius: 15px;
  box-shadow: 1px 4px 4px rgb(118, 76, 0);
  text-align: center;
}

@media (max-width:735px)
{
  .container
{
  margin: 0 50px;
  padding: 50px;
}

}
@media (max-width:615px)
{
  .headline
  {
    font-size: 28px;
  }
  .container
{
  margin: 0 20px;
  padding: 20px;
}

}

@media (max-width:496px)
{
  .container
{
  margin: 0;
  padding: 20px;
}

}
@media (max-width:455px)
{
  .container
{
  padding: 20px;
}

}
@media (max-width:321px)
{
  .headline
  {
    font-size: 21px;
  }
  button
{
  width: 100px;
  height: 100px;
}
img
{
  height: 56px;
  
}
.result
{
  font-size:23px ;
}
.reset-button
{
  height:30px ;
  width:90px ;
  padding: 1px 5px;
  font-size: 12px;
}
}

@media (max-width:281px)
{
  .headline
  {
    font-size: 18px;
  }
  button
{
  width: 60px;
  height: 60px;
}
img
{
  height: 30px;
  
}
.result
{
  font-size:20px ;
}
}

